@import "~/style/test.less";

.index-page {
  position: relative;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}
.head-page {
  justify-content: space-between;
  .home-icon{
    width: 100px;
    height: 32px;
    position: relative;
    .icon{
      position: absolute;
      width: 140px;
      top: -44px;
    }
  }
}
.blank-page{
  flex-direction: column;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  .fish-icon{
    width: 60%;
  }
}
.no-box {
  margin-bottom: 20px;
  .title{
    justify-content: space-between;
    margin-bottom: 15px !important;
  }
  .icon{
    width: 80px;
    height: 40px;
    background-position: center;
    background-size: cover;
  }
}
.add-icon{
  width: 120px;
  height: 120px;
  position: absolute;
  top: -12px;
  right: 0px;
}
.yes-box{
  .title{
    justify-content: space-between;
  }
  .icon{
    width: 80px;
    height: 56px;
    background-position: center;
    background-size: cover;
  }
}
.events{
  .e-item{
    .text{
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-left: 4px;
    }
  }
}
.right-content {
  margin-left: 30px;
  flex-shrink: 0;
  min-width: 400px;
  width: 32%;
  .title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
  }
  .take-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    align-items: flex-start;
    &:nth-last-child(1) {
      padding-bottom: 0;
      border: none;
      margin-bottom: 0;
    }
    .status-icon{
      flex-shrink: 0;
      margin: 0px 10px 0 0;
      .ant-badge-status-dot{
        width: 10px;
        height: 10px;
      }
    }
    .l-text {
      overflow: hidden;
      .text {
        font-weight: 500;
        .ellipsis();
      }
    }
    .remark {
      color: #999;
      font-size: 12px;
      .ellipsis(2);
    }
    .r-icon {
      flex-shrink: 0;
      margin: 2px 0 0 20px;
    }
  }
}
