.index-page{
  position: relative;
  padding: 20px;
  height: 100vh;
  overflow: hidden;
}
.head-page{
  justify-content: flex-end;
}
.right-content{
  margin-left: 30px;
  flex-shrink: 0;
  min-width: 400px;
}
